#- name: Import playbook to prepare new Oracle Database Home
#  ansible.builtin.import_playbook: prepare_dbru.yml

#- name: Import playbook to apply Oracle Oracle Database Release Update
#  ansible.builtin.import_playbook: apply_dbru_onfirstnode.yml

#- name: Import playbook to run root.sh in new Oracle Database Homes
#  ansible.builtin.import_playbook: apply_dbru_runrootallnodes.yml

#- name: Import playbook to finish Oracle Database Release Update
#  ansible.builtin.import_playbook: finish_dbru_onallnodes.yml

- name: Import playbook to apply Datapatch on Primary Databases
  ansible.builtin.import_playbook: apply_datapatch_onprimary.yml
  
- name: Import playbook to Remove Old DB Home  
  ansible.builtin.import_playbook: remove_dbru_onallnodes.yml
